*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.bg{
    background-color:rgb(48, 84, 243);
    background-position: 100%;
    min-height: 40%;
    max-height: 400px;
    padding: 20px 0 80px 0;
}

.menu{display: flex; width: 100%;align-items: center;}

.logo-menu{
    width: 50%;
    color: white;
}
.logo-menu:hover{
    cursor: default;
}
.logo-menu > h2{
    color: rgb(243, 205, 35);
    font-weight: 300;
    font-size: 26px;
}
.logo-menu > h2 > strong{
    color: white;
}


nav .nav{
    align-items: center;
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    width: 50%;
    margin: 0 10px;
}
nav .nav:hover{
    transition: 0.1s;
    cursor: pointer;
    border-bottom: 2px solid rgb(255, 230, 0);
}

#contact-bnt{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(53, 3, 170);
    padding: 10px 20px;
    border-radius: 13px;
}
#contact-bnt:hover{
    transition: 0.5s;
    background-color: rgb(46, 2, 146);
    cursor: pointer;
    border-radius: 15px;
}
#contact-btn:active{
    background-color: red;
}

.mockup{
    padding-top: 100px;
    text-align: center;
    display: block;
    width: 100%;
    color: white;
}
.mockup > h2{
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 200;
}
.mockup > p{
    color: rgba(255, 255, 255, 0.842);
    font-size: 20px;
}
#mockup-image{
    max-height: 600px;
    max-width: 100%;
    margin-top: 60px;
}

section > div.plataforms{
    padding: 100px 0;
}

section > div.plataforms img{
    width: calc(100% / 5);
}

section.pqnos{
    padding: 40px 0;
    background-color: #FBFCFE;

}
section.pqnos > .center{
    max-width: 1280px;
}

section.pqnos > .center > h2{ /* Título da sessão "Por que nós?" */
    font-size: 64px;
    color: #161616;
    text-align:center;
    width: 100%;
}
section.pqnos > .center > p{ /* Texto da sessão "Por que nós?" */
    font-size: 18px;
    color: #a0a0a0;
    text-align:center;
    width: 100%;
}

.diferenciais > div{
    display: flex;
    margin-top: 60px;
}

.box-diferenciais > div{
    box-shadow: 0px 20px 40px #a0a0a0;
    width: 31%;
    margin-right: 2%;
    padding: 10px 20px;
    border-radius: 15px;
}

.box-diferenciais > div > h3{
    font-size: 28px;
    color: black;
    margin: 10px 0;
}
.box-diferenciais > div > p{
    color: #a0a0a0;
    font-size: 13px;
    margin-bottom: 30px;
}
.icon > img{
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}
section.cta{
    background-image: url(../images/banner_meio.svg);
    background-size: cover;
    background-position: center;
    height: 250px;
    min-height: 200px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

section.cta > h4{
    font-weight: normal;
    margin: auto 0;
}

section.cta > h2{
    font-weight: normal;
    font-size: 30px;
    margin: auto 0;
}

section.cta > a{
    font-size: 18px;
    font-weight: 800;
    color: rgb(15,63,211);
    display: inline-block;
    padding: 20px 16px;
    background-color: #FFDD33;
    text-decoration: none;
    border-radius: 15px;
    margin: auto auto;
    max-width: 250px;
}
section.cta > a:hover{
    transition: 0.5s;
    color: black;
}
section.cta > a:active{
    background-color: #dfc12d;
}
/*Section Benefícios*/

section.beneficios{
    padding: 50px 0;
}

.lista-beneficios{
    width: 40%;
    align-items: center;
    margin: calc(5% + 10px) 0;
}
.lista-beneficios h2{
    font-size: 36px;
    margin-bottom: 4%;
    margin-left: 10%;
    color: black;
}
.lista-beneficios > p:hover{
    transition: 1s;
    background-color: rgba(203, 191, 255, 0.295);
    color: black;
    border-radius: 15px;
}
.lista-beneficios > p span{
    vertical-align: middle;
    margin: auto 0;
    display: inline-block;
    width: calc(100% - 70px);
    color: #586679;
}
.lista-beneficios > p img/*checklist-img*/{
    margin: auto 0;
    margin-top: 2.5%;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
}
.img-beneficios{
    width: 60%;
}
.img-beneficios img{
    max-width: 100%;
}

section.depoimentos{
    background-color: #FBFCFE;
    padding: 40px 0;
}
section.depoimentos > h1{
    text-align: center;
    font-size: 42px;
}

.container-slider{
    overflow: hidden;
}
.container-slider-single{
    float: left;
    background-color: white;
    padding: 10px;
}


/*Design Responsivo*/
@media screen and (max-width: 768px){

    .mockup > h2{
        margin: 0 auto;
        font-size: 35px;
        font-weight: 200;
    }

    .mockup > p{
        margin: 0 auto;
        color: rgba(255, 255, 255, 0.842);
        font-size: 18px;
    }
        
    .diferenciais > div{
        display: flex;
        margin-top: 10%;
        flex-wrap: wrap;
        box-shadow: inset #a0a0a0;
    }

    .box-diferenciais > div{
        width: 100%;
        margin-right: 0;
        margin-bottom: 7%;
    }

    section > div.plataforms{
        text-align: center;
    }
    
    section > div.plataforms img{
        margin: 0 auto;
        width: 33%;
        max-width: 100%;
    }
    section.cta{
        padding: 5%;
    }
    .lista-beneficios{
        margin: 5% 0;
    }
    .lista-beneficios > p{
        margin-bottom: 3%;
    }
    .lista-beneficios,.img-beneficios{
        margin-bottom: 30px;
        width: 100%;
    }
}
